<div class="jumbotron">
	<h1>Rules</h1>
	<ul class="list-group" id="rules">
	  <li class="list-group-item">1. Once two players join a given room, the game will start</li>
	  <li class="list-group-item">2. Players take turns selecting two cards</li>
	  <li class="list-group-item">3. First player to match all cards wins</li>
	</ul>
</div>